#git ignore file for GMET code

#no .a or .o files
*.[oa]

#no .mod files
*.mod
*genmod.f90

#no text editor temp files
*~
*swp

#no image files
*.tif
*.gif
*.tiff
*.jpeg
*.jpg
*.png

#not the bin directory and executables
bin/
*.exe

# others
from_NR/*.f90
downscale/numrec.f90
from_NR.tgz

# no text files (OK)
# *.txt

#no archives
*.tar
#*.tgz -- allowing the example to exist as an archive
*.gz
*.zip
*.Z

#no local makefiles
*local

# bash scripts (OK)
# *.bash

# misc notes files
LASTNEXT

# not the run directory
run/
scripts/

# not a devel code dir
downscale/alt/
